* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  
  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mar-aut {
    justify-content: center;
  }

  .save-btn {
    font-size: 20px;
    width: 200px;
    justify-content: center;
    background: #27c027;
    border-radius: 5px;
    color: #ffffff;
  }

  .save-btn:hover {
    font-size: 20px;
    width: 200px;
    justify-content: center;
    background: #27c027;
    border-radius: 5px;
    color: #ffffff;
    border-color: #00eeff;
  }

  .clear-btn {
    font-size: 20px;
    width: 200px;
    justify-content: center;
    background: #ff0000;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 10px;
  }

  .clear-btn:hover {
    font-size: 20px;
    width: 200px;
    justify-content: center;
    background: #ff0000;
    border-radius: 5px;
    color: #ffffff;
    border-color: #00eeff;
  }

  .mandatry {
    color: red;
  }

  .form_validating {
    color: red;
  }

  input#phoneNumber {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.submit-btn {
  font-size: 20px;
  justify-content: center;
  background: #27c027;
  border-radius: 5px;
  color: #ffffff;
}

.submit-btn:hover {
  font-size: 20px;
  justify-content: center;
  background: #27c027;
  border-radius: 5px;
  color: #ffffff;
  border-color: #00eeff;
}

.delete-btn {
  font-size: 20px;
  width: 200px;
  justify-content: center;
  background: #ff0000;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 10px;
}

.delete-btn:hover {
  font-size: 20px;
  width: 200px;
  justify-content: center;
  background: #ff0000;
  border-radius: 5px;
  color: #ffffff;
  border-color: #00eeff;
}
  